.navbar-brand{
font-family:'Ubuntu',sans-serif;
font-size:1em;
font-weight:bold;
color:#fff;
padding-left: 50%!important;

}
.navbar-text{
    color: #fff;
    padding-left: 2%;
}

.custom-nav .custom-nav-item a{
  
    color:#fff !important;
    
}
.custom-nav-item:hover{
    
    background-color: rgb(160, 80, 102) 1px !important;
    border: solid rgb(160, 80, 102) 1px ;
    border-radius :10px;

}
.remove-vid-marg{
    margin:0px;
    padding:0px;
}

.vid-parent{
    position:relative;
}
video{
    width:100%;
    height:100%;
}

.vid-overlay{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    background-color: #395665;
    z-index: 1;
    opacity: 0.8;
}
.vid-content{
    position:absolute;
    z-index:2;
    top:35%;
    left:35%;
    text-align: center;
    color:whitesmoke;
}
.custom-nav.custom-nav-item a{
    padding: 10px 20px;
    background-color:rgb(185, 114, 133)  ;
}
.custom-nav-item.custom-nav-item:hover{
    background-color:  #b97285 ; 
    border:none;
    border-radius: none;
}

.btn{
    color:white;
    background-color: rgb(185, 114, 133) ;
    border: solid #724752 1px;
    border-radius :10px;
    padding: auto;
    
}
.bottom-banner{
    color:#fff;
    padding: 10px;
    background-color:#724752  ;
}
a.social-hover:hover{
    padding:5px 100px;
    text-decoration: none;
    background-color:#463f41;
}



.stripe{
    background-image: linear-gradient(240deg,#b97285 , #724752 );
    padding :3rem;
    height:13rem;
    margin-top:4rem;
    transform:rotate(10deg);
    z-index: -5;
}  


.card{padding: auto;}
.image{
    width: auto;
    height: auto;
}



@media screen and(min-width:0px) and (max-width:700px){
    .my-content,
    .txt-banner,
    .stripe{
        display:none;
    }
    
}
